
.custom-btn-ver {
    margin-right: 50px; /* Ajusta el valor según sea necesario */
}

.custom-btn-corazon {
    position: absolute;
    top: 0;
    right: 0;
}

.star-yellow {
    color: #FFD700; /* Código de color para amarillo */
  }