<div class="container mt-5">
    <div class="row">
    <div class="col-md-4">
    <app-page-filters></app-page-filters>
    </div>
        <!-- Listado de Restaurantes a la Derecha -->
        <div class="col-md-8">
            <div class="text-center p-4" style="background-color: #f0f0f0; border-radius: 10px;">
                <ul class="list-group">
                    <li class="list-group-item custom-list-item d-flex justify-content-between align-items-center position-relative" *ngFor="let restaurant of restaurants">
                        <div>
                            <span>{{ restaurant.name }} - {{ restaurant.adress }}</span>
                            <span *ngFor="let star of getStars(4.5)" class="star-yellow">
                                <i class="fa fa-star" *ngIf="star === 1"></i>
                                <i class="fa fa-star-half" *ngIf="star === 0.5"></i>
                            </span>
                        </div>
                        <ng-container *ngIf="isLogged">
                            <button class="btn btn-primary custom-btn custom-btn-ver" [routerLink]="['/view-restaurant', restaurant.id]">Ver</button>
                            <ng-container *ngIf="!(isFavorite(restaurant.id)); else favorite">
                            <button class="btn btn-link btn-lg custom-btn-corazon" (click)="addToFavorites(restaurant)">
                               <i class="bi bi-heart" ></i> 
                            </button>
                            </ng-container>
                            <ng-template #favorite>
                            <button class="btn btn-link btn-lg custom-btn-corazon" (click)="deleteFromFavorites(restaurant)">
                                <i class="bi bi-heart" style="color: red;"></i>
                            </button>
                            </ng-template>
                        </ng-container>
                    </li>
                  </ul> 
            </div>
        </div>
    </div>
</div>