<div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="container mt-5">
            <h4>datos:</h4>
            <div *ngIf="reservation">
              <li class="list-group-item"><strong>Tamaño de la Reserva:</strong> {{ reservation.res_size }} personas</li>
              <li class="list-group-item"><strong>Fecha de reserva:</strong> {{ reservation.due_date | date:'mediumDate' }}</li>
              <li class="list-group-item"><strong>Horario:</strong> {{ reservation.due_date | date:'shortTime' }}</li>
            </div>
          </div>
          <div class="card-header">Confirmación</div>
          <div class="card-body" *ngIf="availableTables.length > 0">
            <form [formGroup]="confirmationForm" (submit)="onSubmit()">
              <div class="mb-3">
                <label for="table" class="form-label">Elija la Mesa(solo aparecen las disponibles)</label>
                <mat-select [formControl]="tableControl" multiple>
                  <mat-option *ngFor="let availableTable of availableTables" [value]="availableTable.number">
                    Mesa {{ availableTable.number}} capacidad: {{availableTable.capacity}}
                  </mat-option>
                </mat-select>
              </div>
              <button type="submit" class="btn btn-primary">Confirmar</button>
            </form>
          </div>
          <div class="card-body" *ngIf="availableTables.length === 0">
            <h3>No tienes mesas en ese horario</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  