<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">Confirmación</div>
                <div class="card-body">
                    <form [formGroup]="confirmationForm" (submit)="onSubmit()">
                        <div class="mb-3">
                            <mat-select formControlName="table">
                                <mat-option *ngFor="let tablesReservedNumber of tablesReservedNumbers" [value]="tablesReservedNumber">
                                    Mesa {{ tablesReservedNumber }}
                                </mat-option>
                            </mat-select>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
