<div class="row">
  <div class="col-md-2">
    <button type="button" class="btn btn-success" (click)="clearFilters()">
      <i class="bi bi-x-square"></i>
    </button>
  </div>

  <div class="col-md-4">
    <div class="form-check" *ngFor="let categorie of categories">
      <input class="form-check-input" type="checkbox" [value]="categorie" [id]="'tag' + categorie"
             (change)="onCategoryChange(categorie)">
      <h4><label class="form-check-label" [for]="'tag' + categorie">{{ categorie }}</label></h4>
    </div>

    <div class="mb-3">
      <h4><label for="nombre" class="form-label">Nombre:</label></h4>
      <input type="text" class="form-control form-control-sm" [formControl]="nameFilter" id="name" name="name"
             style="width: 250px; border-width: 5px;" (input)="onInputChange($event)">
    </div>
  </div>
</div>
