<div class="row">
  <div class="col-md-4">
    <!-- Filtro por Categoría (Checkboxes) -->
    <div class="form-check" *ngFor="let categorie of categories">
      <input class="form-check-input" type="checkbox" [value]="categorie" [id]="'tag' + categorie"
             (change)="onCategoryChange(categorie)">
      <label class="form-check-label" [for]="'tag' + categorie">{{ categorie }}</label>
    </div>

    <!-- Filtro por Nombre (con estilo de ancho personalizado) -->
    <div class="mb-3">
      <label for="nombre" class="form-label">Nombre:</label>
      <input type="text" class="form-control form-control-sm" [formControl]="nameFilter" id="name" name="name"
             style="width: 250px;" (input)="onInputChange($event)">
    </div>

    <button type="button" class="btn btn-secondary" (click)="clearFilters()">Limpiar Filtros</button>

  </div>
</div>
