<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
      <img src="assets/images/logo.jpeg" height="80">
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item add-list">
          <a class="nav-link" [routerLink]="['/menu-admin']" routerLinkActive="active">Menu Admin</a>
        </li>
        <li class="nav-item add-list">
          <a class="nav-link" [routerLink]="['/list-restaurants']" routerLinkActive="active">List Restaurants</a>
        </li>
        </ul><div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
          </ul>
        
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <ng-container *ngIf="!authService.isLoggedIn(); else loggedIn">
              <li class="nav-item me-2">
                <a class="nav-link" [routerLink]="['/login']" routerLinkActive="active">Sign in</a>
              </li>
            </ng-container>
        
            <ng-template #loggedIn>
              <li class="nav-item me-2">
                <a class="nav-link" [routerLink]="['/logout']" routerLinkActive="active">Log out</a>
              </li>
            </ng-template>
          </ul>
        </div>
        
    </div>
  </nav>
