<div class="container mt-5">
  <div class="row">
    <div class="col-md-12">
      <div class="text-center p-4" style="background-color: #f0f0f0; border-radius: 10px;">
        <h2>Tus Reservas</h2>
        <ul class="list-group" *ngIf="reservations; else noReservations">
          <li *ngFor="let reservation of reservations" class="list-group-item custom-list-item d-flex justify-content-between align-items-center position-relative">
            <div>
              <p>Fecha y Hora: {{ reservation.due_date | date: 'dd/MM/yyyy HH:mm' }}</p>
              <p>Tamaño de la reserva: {{ reservation.res_size }}</p>
              <p *ngIf="reservation.state === 'toConfirm'" style="background-color: rgb(255, 238, 0);">A confirmar</p>
              <p *ngIf="reservation.state === 'confirmed'" style="background-color: green;">Confirmada</p>
              <p *ngIf="reservation.state === 'cancelled'" style="background-color: rgb(241, 15, 15);">cancelada</p>
              <div class="container mt-5">
                <ng-container *ngIf="restaurants">
                  <ng-container *ngFor="let restaurant of restaurants">
                    <ng-container *ngIf="restaurant.id === reservation.restaurant_id">
                      <p>Restaurant: {{ restaurant.name }}</p>
                      <p>Direccion: {{ restaurant.adress }}</p>
                    </ng-container>
                  </ng-container>
                </ng-container>
              </div>
            </div>
            <div>
            <button class="btn btn-primary custom-btn custom-btn-ver" [routerLink]="['/view-reservation', reservation.id]">Ver Detalles</button>
            <br>
            <br>
            <button class="btn btn-danger custom-btn custom-btn-ver" (click)="cancelReservation(reservation.id)"  *ngIf="reservation.state === 'toConfirm' || reservation.state === 'confirmed'">cancelar</button>
          </div>
          </li>
        </ul>
        <ng-template #noReservations>
          <p>No hay reservas disponibles.</p>
        </ng-template>
      </div>
    </div>
  </div>
</div>
