<div class="container mt-5">
  <div class="row">
    <div class="col-md-12">
      <div class="text-center p-4" style="background-color: #f0f0f0; border-radius: 10px;">
        <h2>Tus Reservas</h2>
        <ul class="list-group">
          <li *ngFor="let reservation of reservations$ | async" class="list-group-item custom-list-item d-flex justify-content-between align-items-center position-relative">
            <div>
              <p>Fecha y Hora: {{ reservation._due_date | date: 'dd/MM/yyyy HH:mm' }}</p>
              <p>Tamaño de la reserva: {{ reservation._res_size }}</p>
              <!-- Puedes agregar más detalles de la reserva según tus necesidades -->
            </div>
            <button class="btn btn-primary custom-btn custom-btn-ver" [routerLink]="['/view-reservation', reservation._id]">Ver Detalles</button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
