<div class="container-fluid" style="height: 100vh; background-image: url('https://previews.123rf.com/images/kotofonya/kotofonya1803/kotofonya180300024/96840120-comida-patr%C3%B3n-transparente-blanco-y-negro-en-estilo-doodle-y-dibujos-animados.jpg'); background-size: cover;">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card" style="margin-top: 2em;">
        <div class="card-body" style="height: 80vh; position: relative;" *ngIf="restaurant">
          <span class="position-absolute top-0 end-0" style="margin: 2em;">
            <img [src]="getRestaurantImage(restaurant?.name)" height="145px" width="145px">
          </span>
          <h1 class="card-title">{{ restaurant?.name }}</h1>
          <p class="card-text">{{ restaurant?.adress }}</p>
          <a [routerLink]="['/reserve', restaurant?.id]" class="btn btn-primary btn-lg" style="margin-bottom: 2em;">Hacer una Reserva</a>

          <!-- Horario de apertura -->
          <h2><p class="card-text" style="margin-top: 1em;">Horario de apertura: </p></h2>
          <p *ngFor="let schedule of getRestaurantSchedule(restaurant?.name)" class="card-text" style="margin-top: 1em;">{{ schedule }}</p>

          <a [href]="getRestaurantLink(restaurant?.name)" target="_blank" class="position-absolute bottom-0 end-0" style="margin: 2em;">
            <img [src]="getMapImage(restaurant?.name)" height="300px" width="300px">
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
