<div class="container-fluid"  style="height: 100vh; background-image: url('https://previews.123rf.com/images/kotofonya/kotofonya1803/kotofonya180300024/96840120-comida-patr%C3%B3n-transparente-blanco-y-negro-en-estilo-doodle-y-dibujos-animados.jpg'); background-size: cover;">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card">          
        <div class="card-body">
          <span class="position-absolute top-0 end-0">
            <img src="https://media.istockphoto.com/id/184928432/es/foto/pizza-de-pepperoni-cheese-superior.jpg?s=612x612&w=0&k=20&c=xs1pkMDuOyb1-dWfvaIhUvOwXml0x2PDYXlBoN2Eht0=" height="145px" width="145px">
            <img src="https://img.freepik.com/foto-gratis/hamburguesa-doble-aislada-sobre-fondo-blanco-comida-rapida-hamburguesa-fresca-carne-res-queso-crema_90220-1192.jpg?size=338&ext=jpg&ga=GA1.1.1803636316.1700611200&semt=sph" height="145px" width="145px">
          </span>
          <h5 class="card-title">{{ restaurant.name }}</h5>
          <p class="card-text">{{ restaurant.adress }}</p>
          <a [routerLink]="['/reserve', restaurant.id]" class="btn btn-primary btn-lg">Hacer una Reserva</a>
        </div>
      </div>
    </div>
  </div>
</div>

  