<div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card">
          <div class="card-body text-center">
            <div *ngIf="!userRestaurant">
                <h5 class="card-title">No hay restaurantes creados</h5>
                <div class="card-body text-center"><button class="btn btn-primary btn-lg" (click)="addRestaurant()">Crear restaurante</button></div>
            </div>
            <div *ngIf="userRestaurant">
              <h5>Su restaurante:</h5>
              <h4>{{userRestaurant.name}}</h4>
            
            <div class="card-body text-center"><button class="btn btn-primary btn-lg" (click)="addCategories()">Agregar Categorias</button></div>
            
            <div class="card-body text-center"><button class="btn btn-primary btn-lg" (click)="addTables()">Agregar Mesas</button></div>
            
            <div class="card-body text-center"><button class="btn btn-primary btn-lg" (click)="viewReservations()">Ver Reservas</button></div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
